<div class="container">
    <h1>Hello</h1>
    <div class="row">
      <%= button_to "Add Transaction", new_entry_path, :method => :get %>
    </div>
    <div class="row">
      <h2>Latest Transactions</h2>
      <%= latest_entries %>

    </div>
    <div class="row">
      <table>
          <tr>
            <th>Receipt</th>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Options</th>
          </tr>
        </table>
