<!-- <div class="intro-container">
  <%= image_tag "fabian-blank-78637.jpg", class:"intro-container" %>
  <h2 class="center-align">Understand where your money is going</h2>
</div> -->

<div class="parallax-container">
  <div class="row">
    <div class="col m2">

    </div>
    <div class="col m8">

      <h1 class="center-align box">Understand where your money is going. </h1>
    </div>
    <div class="col m2">

    </div>
  </div>
    <div class="parallax">
        <%= image_tag "helloquence-61189.jpg", class:"intro-container" %>
    </div>
</div>
<div class="row">

</div>
<div class="row">
  <div class="col s2">

  </div>
  <div class="col s8 m4  pitch">
          <div class="row">
            <div class="col s1">
            </div>
            <div class="col s2">
              <p><%= image_tag "upload.png", class:"icons" %>
            </div>
            <div class="col s6">
              <p class="text-big">Save Receipts</p>
            </div>
          </div>
          <div class="row">
            <div class="col s1">
            </div>
            <div class="col s2">
              <p><%= image_tag "pdf.png", class:"pdf" %>
            </div>
            <div class="col s6">
              <p class="text-big">.pdf Reports</p>
            </div>
          </div>
          <div class="row">
            <div class="col s1">
            </div>
          </div>
        </div>
        <div class="col m1 s1">

        </div>
        <div class="col m4 s8 pitch center-align">
          <h2>Signup Now</h2>
          <h2>OR</h2>
          <h2>Login</h2>
        </div>
</div>
<% console %>
