// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up-box {
    padding: 15px;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
}
.intro-container{
  // background-image: url("fabian-blank-78637.jpg");
  width: 100%;
}
.pdf{
  width: 70px;
}
h1{
  color: white;
}
.text-big{
  font-size: 25px;
}

.pitch{
  border: solid 1px black;
  border-radius: 20px;
  max-width: 450px;
  height: 300px;
  background-color: rgba(255,255,255,.8);
}

.btn, .btn-large{
  font-size: 20px;
  background-color: #D97B29
}
.box{
  background-color: rgba(0,0,0,.6);
  border-radius: 20px;
}
#track{
  font-size: 18px;
  color: #736F68;
  padding-left: 100px;
}
.action{
  padding-top: 100px
}
